# Apache Module mod_rewrite

RewriteEngine On

# Az aktuális oldal(rész) gyökere, ha saját domainen van akkor csak "/"
RewriteBase "/dev/projektek/fotoplus/munkaido"


# Itt lényegében mindent átadunk az URL-ből a PHP-nek, aztán az majd jól megoldja...
# Bármi ami a / után van, ha nem fájlhoz vezet (azaz nem fájl), akkor az index.php-hez kerül

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule !^index\.php$ index.php