@charset "UTF-8"; 

:root {
  background-color: #f0f0f0;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

body {
  background-color: #f0f0f0;
}

fieldset > legend {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 2rem;
}

input,
button {
  background-color: #ffffff;
  color: #000000;
  width:100%;
  padding: 10px 10px 10px 10px;
  margin: 10px 0px 10px 0px;
  border: 1px solid #909090;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

label {
  position: relative;
  font-size: 0.8rem;
  color: #909090;
  text-transform: uppercase;
  margin-left: 2px;
  bottom: -8px;
}

input[type="submit"],
button {
  background-color: #000000;
  color: #ffffff;
  border-color: #000000;
}

.border {
  border:1px solid #909090;
}

.rounded {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

form[name="fotoplus-login"] {
  width: calc(100% - 40px);
  margin: 20px auto 20px auto;
  padding: 20px 20px 20px 20px;
  background-color: #ffffff;
}